<h2 class="text-center">Hi This is Yiting! Welcome to my website!</h2>
<p>
	I am currently a Computer Science Master student at Santa Clara University. I'm currently looking for 2020 summer internship position as software engineer. I'm highly interested in backend, full-stack, and infrastructure position. I have three years experience in Java programming, and I have completed some web applications projects using Python, React, and Ruby as well. 
</p>
<p>
	<a href="https://github.com/shenyiting2018/ruby-student-information-system"> My GitHub repository</a>
</p>
<p>
	Feel free to connect to me on <a href="https://www.linkedin.com/in/shenyiting/">LinkedIn</a>
</p>
<a href="/resume-yiting-shen.pdf" download> My Resume </a>

