<div class="row">
	<div class="col-md-4 offset-md-4 text-center">
		<h1> Comments </h1>
	</div>
</div>

<div class="row">
	<div class="col-md-8 offset-md-2">
		<% if @comments.any? %>
			<% @comments.each do |comment| %>
				<ul class="text-center">
					<a href="/comment/<%= comment.comment_id %>">
						<%= comment.name + " - " + comment.created_at.to_s %></a>
				</ul>
			<% end %>
		<% end %>
		<div class="text-center">
			<a class="btn btn-success text-center" href="/comment" >Creat New Comment</a>
		</div>
	</div>
</div>
