<h2 class="text-center"> Feel free to contact me on LinkedIn</h2>
<p>
	<a href="https://github.com/shenyiting2018/ruby-student-information-system"> My GitHub repository</a>
</p>
<p>
	Feel free to connect to me on <a href="https://www.linkedin.com/in/shenyiting/">LinkedIn</a>
</p>
<a href="/resume-yiting-shen.pdf" download> My Resume </a>