<div class="row">
	<div class="col-md-6 offset-md-3">
		<h2 class="text-center"> Welcome to my Student Information Manager!</h2>
		<p>
			This website is written in Ruby and Sinatra (a light-weight web framework). This is the course project of COEN-278 (Advanced Web Programming) instructued by Prof. Yuan Wang.
		</p>
		<p>
			GitHub page for this <a href="https://github.com/shenyiting2018/ruby-student-information-system"> project </a>
		</p>
	</div>
</div>

