<html>
	<head>
		<link href="style.css" rel="stylesheet" type="text/css">
		<title><%= @title || "Student Information System" %></title>
	</head>
	<body>
		<h1>Student Information System (layout)</h1>
		<ul>
			<li><a href="/">Home</a> </li>
			<li><a href="/about">About</a> </li>
			<li><a href="/contact">Contact</a> </li>
			<li><a href="/students">Students</a> </li>
			<li><a href="/comment">Comment</a> </li>
			<li><a href="/video">Video</a> </li>
			<li><a href="/login">Login</a> </li>
		</ul>
		<%= yield %>
	</body>
</html>