
html {background-color: #fffbd7;}
body {
	width:700px;
	height:900px;
	background-color:#dddcd9;
	margin:2em auto 2em;
	padding:25px;
	position:relative;
}

img {
	width: 100%;
	height: auto;
}

h1 {
color:#a09b89
}

#subject {

}

.my-navbar {
	background-color: #e3f2fd;
}